body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4e75af;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #e9e9e9;
}

.container {
    background: #51609481;
    border-radius: 12px;
    box-shadow: 0 4px 8px #270303;
    padding: 30px;
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 20px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
}

.tab-button {
    flex: 1;
    padding: 10px;
    text-align: center;
    border: none;
    background: none;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.tab-button.active {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #ffffff;
}

input {
    width: calc(100% - 22px);
    padding: 12px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #2e245a;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #041027;
}

.reset-button {
    background-color: #2e245a;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.reset-button:hover {
    background-color: #041027;
}

p {
    font-size: 16px;
    color: #ffffff;
    margin-top: 15px;
    font-weight: 500;
}
